spring:
  application:
    name: gateway-service
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            connect-timeout: 5000
            response-timeout: 10s
          metrics:
            enabled: true
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true
          routes:
            - id: security-service
              uri: lb://security-service
              predicates:
                - Path=/api/v1/auth/**
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/api/v1/users/**
            - id: doctor-service
              uri: lb://doctor-service
              predicates:
                - Path=/api/v1/doctors/**
            - id: booking-service
              uri: lb://booking-service
              predicates:
                - Path=/api/v1/bookings/**
            - id: notification-service
              uri: lb://notification-service
              predicates:
                - Path=/api/v1/notifications/**
server:
  port: 8550

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  metrics:
    tags:
      application: ${spring.application.name}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true
    metadata-map:
      app-type: api-gateway

info:
  app:
    name: ${spring.application.name}
    description: Routing facade for MediApp microservices.
    version: ${project.version:0.0.1-SNAPSHOT}

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    com.mediapp.gateway_service: DEBUG

---
spring:
  config:
    activate:
      on-profile: local
  cloud:
    gateway:
      server:
        webflux:
          httpclient:
            wiretap: true
logging:
  level:
    reactor.netty: INFO

---
spring:
  config:
    activate:
      on-profile: docker
server:
  port: ${GATEWAY_SERVER_PORT:8080}
eureka:
  client:
    service-url:
      defaultZone: http://${DISCOVERY_SERVER_HOST:discovery-server}:${DISCOVERY_SERVER_PORT:8761}/eureka

---
spring:
  config:
    activate:
      on-profile: prod
management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized
      roles: ACTUATOR_ADMIN
eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka}
logging:
  level:
    org.springframework.cloud.gateway: WARN
